/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* Cor de fundo */
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Espaçamento interno */
}

#dishes {
    display: flex;
    flex-wrap: wrap; /* Permite que os pratos se movam para a próxima linha */
    justify-content: center; /* Centraliza os pratos */
    gap: 24px; /* Espaçamento entre os pratos */
    margin-top: 32px; /* Espaçamento acima */
    width: 100%; /* Largura total */
}

.dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 300px; /* Largura fixa para os pratos */
    padding: 20px;
    background-color: var(--color-neutral-0);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.dish-heart {
    position: absolute;
    background-color: var(--color-primary-6);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: var(--color-primary-1);
    width: 70px;
    height: 70px;
    right: -10px;
    top: -10px;
    border-radius: 0px 37.5px 0px 42.5px;
}

.dish-description {
    color: #434343;
    text-align: center;
}

.dish-rate i {
    color: var(--color-primary-6);
}

.dish-price {
    display: flex;
    align-items: center;
    gap: 20px;
}

.quantity-control {
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza os botões */
    gap: 10px; /* Espaçamento entre os botões e o input */
}

.quantity-control button {
    background-color: #28a745; /* Cor do botão */
    color: white; /* Cor do texto */
    border: none; /* Remove a borda */
    padding: 10px; /* Espaçamento interno */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    font-size: 16px; /* Tamanho da fonte */
    border-radius: 5px;}